# Datatypes in Python

- In Python, data types are the kinds of values that you can work with in a program.

 
- They help you understand what operations can be performed on the data.

# Types of data types
They are two types of data types:

## Basic data types
- Int
  
- Float

- Boolean

- Complex

## Advanced data types
- String
  
- List

- Tuple

- Dictionary

- Set

# Basic Data Types



1. **`int`**: Represents integer numbers. 
   - Example: `5`, `-3`, `42`.

2. **`float`**: Represents floating-point (decimal) numbers. 
   - Example: `3.14`, `-0.001`, `2.718`.

3. **`bool`**: Represents boolean values, which can be either `True` or `False`. 
   - Example: `True`, `False`.

4. **`complex`**: Represents complex numbers, which have a real and an imaginary part. 
   - Example: `3 + 4j`, where `3` is the real part and `4j` is the imaginary part.

## Examples of int

In [19]:
a = 10
print(a)
type(a)

10

int

In [26]:

David = -6
print(David)

score = 88
print(score)

count = 15
print(count)

total = 50
print(total)

age = 27
print(age)

height = 175
print(height)

weight = 65
print(weight)

steps = 12000
print(steps)

temperature = -10
print(temperature)

rank = 3
print(rank)

-6
88
15
50
27
175
65
12000
-10
3

##  Examples of float

In [22]:

price = 19.99
print(price)

temperature = -5.6
print(temperature)

height = 176.5
print(height)

distance = 10.2
print(distance)

rate = 7.25
print(rate)

weight = 55.75
print(weight)

volume = 0.001
print(volume)

average = 4.8
print(average)

gpa = 3.67
print(gpa)

amount = 123.45
print(amount)

19.99
-5.6
176.5
10.2
7.25
55.75
0.001
4.8
3.67
123.45

## Examples of boolean

In [27]:

print(10 > 2)
print(type(10 > 2))

print(3 < 4)
print(type(3 < 4))

print(84 < 25)
print(type(84 < 25))

print(5 == 5)
print(type(5 == 5))

print(7 != 8)
print(type(7 != 8))

print(6 > 6)
print(type(6 > 6))

print(10 >= 10)
print(type(10 >= 10))

print(-3 < 0)
print(type(-3 < 0))

print(2 + 2 == 4)
print(type(2 + 2 == 4))

print(15 < 5)
print(type(15 < 5))

True
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
True
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>

## Examples of Complex

In [31]:

y = 5 + 6j
print(y)
print(type(y))

z = -1 - 4j
print(z)
print(type(z))

w = 0 + 1j
print(w)
print(type(w))

u = 5 + 0j
print(u)
print(type(u))

v = -2 + 3j
print(v)
print(type(v))

t = 7 - 6j
print(t)
print(type(t))

s = 8 + 8j
print(s)
print(type(s))

r = -9 - 2j
print(r)
print(type(r))

q = 4 + 5j
print(q)
print(type(q))

p = 1 - 7j
print(p)
print(type(p))

(5+6j)
<class 'complex'>
(-1-4j)
<class 'complex'>
1j
<class 'complex'>
(5+0j)
<class 'complex'>
(-2+3j)
<class 'complex'>
(7-6j)
<class 'complex'>
(8+8j)
<class 'complex'>
(-9-2j)
<class 'complex'>
(4+5j)
<class 'complex'>
(1-7j)
<class 'complex'>